<% if logged_in? %>
        <%binding.pry%>
        <% if User.get_needsrole.any?%>
            <h1>Your Inactive Employees</h1>
            <% User.get_needsrole.each do |x|%>
                <p><%= link_to x.username, {controller: "users", action: "edit", id: x.id}, :method => :get%></p>
            <%end%>
        <%end%>
        <h1>Your Active Employees</h1>
        <% User.all.each do |x|%>
            <% if x != current_user && !User.get_needsrole.include?(x)%>
                <p><%= link_to x.username, {controller: "users", action: "edit", id: x.id}, :method => :get%></p>
            <% end %>
        <%end%>
<br></br>
        <h1>Create an Employee Account!</h1>
        <%= render partial: "form"%>
<% end %>