<% if current_user%>
    <h6>Welcome, <%= current_user.username %>!</h6>
    <%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%>
    <% else %>
    <h6>Welcome! <a href= "/signup">Register</a> a new account or <a href="/login">log in!</a></h6>
<% end %>