<!DOCTYPE html>
<html>
<head>

<style>
.container {
  margin: auto;
  height: 350px;
  width: 300px;
  text-align: center;
  position: relative;
  border: 3px solid green;
  background: #f5f5f5;
  box-shadow: 5px 5px 5px #c7c7c7;
  padding-top: 35px;
  padding-bottom: 35px;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>

<div class="container">
    <div class="center">
        <p style="font-size:30px"><strong>Editing <%=@table.name%></strong></p>
        <%= render partial: "form"%>
    </div>
</div>

</body>
</html>


